<%- include('partials/header') %> 
<h1>404 Not Found </h1>
<form action="/failure" method="post">
    <button class="btn btn-lg btn-warning" name="button" type="submit">Try Again</button>
</form>
<%- include('partials/footer') %> 